// 以下待完善，皆是假设的
.wrapper {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 6px 0;

    .title {
        flex: auto;
        line-height: 2;
    }
    
    .selected {
        color: rgb(84, 154, 246);
    }
    
    
    .handler {
        width: 50px;
        text-align: end;

        .btn {
            opacity: 0.2;
        }
    }

    &:hover {
        .handler {
            .btn {
                opacity: 1;
            }
        }
    }
}

